body {
    font-family: 'Roboto Flex', sans-serif;
    background: url(../assets/bg.png) no-repeat center center fixed;
}

/* tabs navigaton  */
.tabsnavigation {
    margin-top: 1%;
}

.nav-tabs .nav-link {
    border: 0;
    font-weight: 500;
}

.nav-tabs .nav-link.active {

    border-bottom: 2px solid rgba(98, 124, 155, 255) !important;
}



button.active {
    border-bottom: 2px solid #55c57a;
}

/* tabs-1 content */
.tab-content {
    width: 98%;
}


#nav-catalog {
    margin-top: 1%;
}
#nav-tab-catalog-list {
    margin-bottom: 2%;
}

.card {
    padding: 1%;
    border: 1px solid lightgray;
    margin-left: 7px;
    border-radius: 5px;

}

.checkboxes {
    display: flex;
    margin-top: 2%;
}

.multi-select-checking {
    display: flex;
    border: 1px solid lightgray;
    padding: 6px;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    overflow: auto;
    background: #fff;
}

.machines-part-1 {
    display: flex;
    flex-direction: column;
}

.clear-button {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.table-container {
    display: flex;
    width: 100%;
    overflow: auto;
}

#catalogues {
    width: 1200px !important;
}

thead {
    background: lightgray;
    font-size: 10px;
}

.icon-eye {
    color: blue;
}

.icon-edit {
    color: green;
}

.icon-trash {
    color: red;
}
.modal-header {
    background: rgba(98, 124, 155, 255);
    color: #fff;
}
.modal-content {
    border: 0;
}
.modal-footer {
    justify-content: center;
}
.modal-footer button {
    width: 20%;
}
.modal-title {
    font-size: 15px;
}